<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO List</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
    <div id="app">
        <h1>My To Do List</h1>
        <input type="text" placeholder="Enter to do entry" v-on:keyup.enter="addEntry">
        
        <div class="status">
            Unfinished entries: {{unfinishedEntries.length}}
        </div>

        <div class="items">
            <div class="item" v-for="entry in todos" v-bind:class="{done : entry.isDone}">
                <input type="checkbox" v-model="entry.isDone">
                {{entry.value}}
            </div>
        </div>
    </div>


    <script src="javascripts/lib/vue.js"></script>
    <script src="javascripts/index.js"></script>
</body>

</html>